@use 'variables' as *;

*,
::before,
::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5.62em 1.54em;
   background-color: white;
   min-height: 100vh;
   font-size: 13px;
   overflow: hidden;
}